.video-title {
    font-weight: bold;
    font-size: 18px;
    font-family: montserrat;
    width: 300px;
    line-height: 24px;
    margin-bottom: 5px;
  }

  .video-stats {
    font-family: montserrat;
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: none;
  }

  .video-title {
    font-weight: bold;
    font-size: 18px;
    font-family: montserrat;
    width: 300px;
    line-height: 24px;
    margin-bottom: 5px;
  }

  .video-stats {
    font-family: montserrat;
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 0px;
    width: 300px;
  }

  .apple-text {
    margin-bottom: 50px;
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    font-family: montserrat;
  }
  .span-test:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .span-test:active {
    color: aqua;
  }