.div_main{
    width: 400px;
    
}

.div_thumbnail{
    display: inline-block;
}

.thumbnail{
    width: 350px;
    margin-top: 10px;
    margin-bottom: 7px;
    display: block;
}

.p_channel_image{
    display: inline-block;
    vertical-align: 10px;
    width: 300px;
    font-size: 15px;
    margin-left: 6px;
    margin-top: 0px;
    
}

.imgcha{
    width: 35px;
    border-radius: 17.5px;
    vertical-align: 8px;
}

.vide0_stats{
    margin-left: 43px;
    margin-top: 0px;
    line-height: 4px;
    font-size: smaller;
    color: rgb(106, 106, 106);
}

.div_channel_image{
    height: 40px;
}
