p{
    font-family: Roboto, Arial;
    font-weight: 500;
}
.div_main{
    width: 400px;
    display: inline-block;
    vertical-align: top;
    
}

.div_thumbnail{
    display: block;
}

.thumbnail{
    width: 350px;
    margin-top: 10px;
    margin-bottom: 7px;
    display: block;
}

.p_channel_image{
    display: inline-block;
    width: 230px;
    font-size: 16px;
    color: black;
    margin-bottom: 6px;
    margin-top: 0px;
    line-height: 16px;

   
    
}

.imgcha{
    width: 38px;
    border-radius: 19px;
    vertical-align: top;
}

.vide0_stats{
    
    line-height: 6px;
    font-size: 11px;
    color: rgb(96, 96, 96);
    display: inline-block;
}

.div_channel_image{
    height: 40px;
    display: inline-block;
    width: 35px;
    vertical-align: top;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}